.menu-classic .menu-item span:first-of-type:before {
    position: absolute;
    left: 400px;
    right: 70px;
    top: 50%;
    content: "";
    display: inline-block;
    border-top: 1px dashed;
}

.menu-classic-single .list-menu > li {
    padding: 22px 20px 22px 20px;
    background-color: rgb(241,97,33,0.7);
    margin-bottom: 5px;
    contain: content;
}

.menu-item-desc {
    max-width: 70%;
}

.menu-item .name {
    font-size: 3rem;
    font-family: "Agency FB";

}

.menu-item .price {
    border-radius: 5.5em;
    /*outline: 1px solid #ffffff;*/
    padding: 1em;
    font-size: 4.5rem;
}


